/*Global*/

* {
    font-family: 'Times New Roman', Times, serif;
}

/*Main name*/

#header-h {
    width: 40%;
    height: 40px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: middle;
    color: #FFFFFF;
    text-shadow: 0px 0px 3px black;
    border: none;
    font-size: 175%;
}

.header-flexbox {
    display: flex;
    justify-content: space-between;
}

/*Log in and Sign in buttons*/

.autorize {
    height: 40px;
    margin: 10px;
    text-align: right;
}

.autorize > a {
    padding: 7px 14px;
}

.more-about:link, .more-about:visited, .autorize > a:link, a:visited {
    background-color: #00BEBE;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-shadow: 0px 0px 3px black;
}
  
.more-about:hover, .more-about:active, .submit-button:hover, .submit-button:active, .autorize > a:hover, a:active {
    background-color: #008B8B;
    cursor: pointer;
}

.main-flexbox{
    display: flex;
    flex-direction: column;
}

/*All ref*/

a {
    text-decoration: none;
}

/*Form*/

.main-form {
    margin: auto;
}

.form-inputs {
    width: 250px;
    height: 40px;
    font-size: medium;
}

.Finding-info {
    resize: none;
    height: 250px;
    width: 252px;
    font-size: medium;
}

.submit-button {
    width: 258px;
    height: 50px;
    background-color: #00BEBE;
    border: 0px;
    color: white;
    font-size: large;
    text-shadow: 0px 0px 3px black;
}

/*Lists*/

li {
    font-size: large;
}

ul {
    list-style-type: square;
}

/*About us*/

.more-about {
    padding: 4px 35px;
    max-width: max-content;
    margin: auto;
    align-self: center;
}

.simple-text {
    text-align: center;
}

.main-flexbox-elem {
    display: flex;
    flex-direction: column;
}

/*Logo*/

.Main-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 10%;
    min-width: 100px;
}

@media screen and (min-width: 768px) {
    
    #header-h {
        width: 50%;
        font-size: 200%;
    }

    .simple-text {
        text-align: left;
    }

    .more-about {
        margin: 0 0 0 20px;
        align-self: auto;
    }

    .main-form {
        margin: 0;
    }
}

@media screen and (min-width: 1024px) {

    .main-flexbox {
        flex-direction: row;
    }

    .main-inner-flexbox {
        display: flex;
        flex-direction: column;
    }

    .main-flexbox-elem {
        width: 48vw;
    }
}